# Server Port
PORT=3000

# PostgreSQL Configuration (Local Host)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=0000
DB_NAME=samaagum
DATABASE_URL=postgresql://postgres:0000@localhost:5432/samaagum
